@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* COMMON STYLES */
h1,
h2,
h3,
h4 {
  color: #264e86;
}
.text-color {
  color: #4c79b9;
}
body {
  font-family: "Montserrat", sans-serif !important;
}
.purple {
  color: #aea0ff;
}
.light-blue {
  color: #eefdff;
}
.light-blue-background {
  background-color: #eefdff;
}

/* NAVBAR */
.navbar {
  background-color: white;
}
.navbar-brand img {
  width: 100%;
  height: 50px;
}

.nav-item a {
  color: #264e86;
  font-weight: bold;
  font-size: 18px;
}
/* HEADER */
.landing-text-container {
  margin-top: 30px !important;
}
.landing-header {
  font-size: 3rem;
}
.landing-paragraph {
  font-size: 18px;
  margin-bottom: 25px;
}
/* HOME */
.home {
  background-image: url("/src/assets/images/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 100px 0 !important;
}
.home-container {
  padding: 0 !important;
}
.button {
  background-color: #aea0ff;
  color: #fff;
  border-radius: 9999px;
  border: none;
  padding: 12px 20px 12px 20px;
  text-decoration: none;
  font-weight: bold;
}
#round-parents {
  border-radius: 0;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}
#round-sitters {
  border-radius: 0;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.active {
  background-color: white;
  color: #aea0ff;
}
.button.active:hover {
  color: #aea0ff;
}
.button:hover {
  color: #fff;
}
.home-works {
  background-color: #eefdff;
}
.parent li,
.sitter li {
  list-style: none;
  border-radius: 0.25rem;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 15px;
}
.number {
  width: 30px;
  line-height: 30px;
  height: 30px;
  border-radius: 100%;
  color: #fff;
  --tw-bg-opacity: 1;
  background-color: #aea0ff;
  text-align: center;
  font-size: 15px;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.checkbox-list,
.col-4 article {
  box-shadow: 10px 10px 12px 4px rgba(220, 216, 245, 0.67);
  -webkit-box-shadow: 10px 10px 12px 4px rgba(220, 216, 245, 0.67);
  -moz-box-shadow: 10px 10px 12px 4px rgba(220, 216, 245, 0.67);
  border-radius: 0.25rem;
  padding: 10px;
}
.checkbox-list li {
  list-style: none;
  padding: 5px;
  margin-bottom: 5px;
}
.col-4 article {
  margin-right: 10px;
}

.people-image {
  border-radius: 2%;
}

/* FOOTER */
footer {
  background-color: #eefdff;
}
.parents {
  background-color: #aea0ff !important;
}
.parents ul li,
.sitters ul li {
  list-style: none;
  margin-bottom: 10px;
}
.parents ul li a,
.sitters ul li a {
  text-decoration: none;
  color: #264e86;
}
.sitters {
  background-color: #7fd1de !important;
}
.parents,
.sitters {
  box-shadow: 10px 10px 12px 4px rgba(220, 216, 245, 0.67);
  -webkit-box-shadow: 10px 10px 12px 4px rgba(220, 216, 245, 0.67);
  -moz-box-shadow: 10px 10px 12px 4px rgba(220, 216, 245, 0.67);
  border-radius: 0.25rem;
  padding: 10px;
}
/* HOW IT WORKS PARENTS */
.icons {
  font-size: 50px;
}
.shadow {
  box-shadow: 10px 10px 12px 4px rgba(220, 216, 245, 0.67);
  -webkit-box-shadow: 10px 10px 12px 4px rgba(220, 216, 245, 0.67);
  -moz-box-shadow: 10px 10px 12px 4px rgba(220, 216, 245, 0.67);
  border-radius: 0.25rem;
  padding: 10px;
}

.tips ul li {
  list-style: none;
}

.singup-link:hover {
  color: #264e86;
}
/* JOIN US */
#join-us {
  height: 100vh;
}

#login-toggle,
#register-toggle {
  padding: 15px 40px;
  margin: 10px;
  border-radius: 30px;
}

input.error {
  border: 1px solid red;
}

/* JOBS-BOARD */
.placeholder-img img {
  border-radius: 50%;
  border: 3px solid #aea0ff;
}
.action-button {
  background-color: #7fd1de;
  color: #fff;
  border-radius: 9999px;
  border: none;
  padding: 12px 20px 12px 20px;
  text-decoration: none;
  font-weight: bold;
}
.action-button:hover {
  color: #fff;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .landing-text-container {
    margin-top: 200px !important;
  }
}
