/* COMMON STYLES */
.header-color {
  color: #264e86;
}
.text-color {
  color: #4c79b9;
}

/* NAVBAR */
.navbar {
  background-color: #eff0f4;
}
.navbar-brand img {
  width: 60px;
  height: 80px;
}

.nav-item a {
  color: #264e86;
}
/* HEADER */
.landing-text-container {
  margin-top: 200px !important;
}
.landing-header {
  font-size: 3rem;
}
.landing-paragraph {
  font-size: 20px;
}
/* FOOTER */
footer {
  background-color: aqua;
}
